.App {
    text-align: left;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #5f5e53;
    min-height: 100vh;
    display: flex;
    align-items: left;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: black;
    overflow-x: auto;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.overPanel {
    z-index: 10;
    border-left: 2px white solid;
    background-color: #303030;
    min-width: 300px;
    max-width: 500px;
}

.editPanel {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: 1px rgb(119, 119, 119) solid;
    background-color: #303030;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.field {
    display: block;
}

.multiline {
    resize: none;
}

.fieldLine {
    display: block;
    margin-top: -12px;
    margin-bottom: 7px;
}

.action {
    font-size: large;
    border: white 2px solid;
    color: white;
    background-color: black;
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.action:hover {
    color: black;
    background-color: white;
}

.danger {
    border: red 2px solid;
    color: red;
    background-color: black;
}

.danger:hover {
    color: black;
    background-color: red;
}

.notwide {
    width: auto;
    display: inline;
}

.leftPanel {
    position: absolute;
    width: 220px;
    top: 0px;
    left: 0px;
    height: 100%;
    background: "black";
    border-right: white 2px solid;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}

.listInfoFiller {
    height: 130px;
}

/**/

.listInfo {
    border-bottom: white 2px solid;
    font-size: large;
    position: fixed;
    z-index: 10;
    background: #303030;
    width: 200px;
}

.listInfo p {
    margin: 5px;
    white-space: nowrap;
}

.list {
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
}

.listItem {
    font-size: large;
    border: #303030 2px solid;
    color: white;
    background-color: rgb(37, 37, 37);
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    text-align: justify;
    justify-content: space-between;
}

.listItem:hover {
    color: black;
    background-color: rgb(210, 210, 210);
}

.select {
    background-color: #2a4786;
}

.select:hover {
    background-color: #85abfc;
}

.abilityAtomSelect {
    background-color: #303030;
    color: white;
}

.listItem button {
    border: none;
    font-size: large;
    color: white;
    background-color: rgb(70, 70, 70, 0.5);
    text-align: justify;
    justify-content: space-between;
}

.listItem button:hover {
    color: black;
    background-color: rgb(255, 255, 255, 0.5);
}

.sltBiome {
    min-width: 100px;
}

.listAction {
    width: 95%;
    margin-left: 5px;
    margin-right: 5px;
}

.cardPanel {
    position: absolute;
    left: 230px;
}

.cvsCard {
    width: 500px;
    height: 700px;
    display: block;
}

.lowvisibilitylabel {
    color: rgb(77, 77, 77);
}

.lowvisibility {
    background-color: rgb(77, 77, 77);
    border: none;
}

.lowvisibility::placeholder {
    background-color: rgb(39, 39, 39);
}

.abilityArea {
    border: #bbbbbb 1px solid;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/* .abilityArea div {
    margin: 0px;
    display: flex;
    text-align: justify;
    justify-content: space-between;
    font-size: large;
}
.abilityArea div span {
    font-size: medium;
}
.abilityArea div input {
    margin-left: 5px;
    max-width: 120px;
}
.abilityArea div input[type="number"] {
    margin-left: 5px;
    max-width: 30px;
}
.abilityArea div div {
    display: block;
} */
.abilityLineArea {
    border: 1px solid rgb(100, 100, 100);
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.abilityAtomName {
    display: block;
    font-size: large;
    display: flex;
    text-align: justify;
    justify-content: space-between;
}

.abilityAtomLine {
    margin: 0px;
    display: flex;
    text-align: left;
    /* justify-content: space-between;
    font-size: medium; */
    font-size: medium;
}

/* .abilityAtomOption div {
    display: block;
} */
.abilityPreview {
    font-size: medium;
    margin-top: 10px;
    border: 2px solid rgb(100, 100, 100);
    padding: 5px;
}

.info {
    font-size: medium;
}

.info select {
    margin-left: 10px;
}

.info button {
    margin-left: 10px;
    position: absolute;
    right: 0px;
}

.colorInput {
    margin-right: 20px;
}

.colorInput input[type=color] {
    margin-left: 5px;
}

.counter {
    display: flex;
    margin-bottom: 10px;
}

.counter input {
    width: 25px;
    text-align: right;
}

.inline {
    display: inline;
    /* margin-left: 5px; */
    margin-right: 5px;
}

.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

.bufferOnRight {
    margin-right: 10px;
}

.ex {
    border: white 1px solid;
    color: white;
    background-color: black;
    margin-left: 5px;
}

.ex:hover {
    color: black;
    background-color: white;
}

.plusMinus {
    /* color: black; */
    font-size: large;
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgb(37, 37, 37);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #cebd90;
}

.plusMinus:hover {
    color: black;
    background: #ffeec1;
    border-radius: 7px;
}

.characterZone {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

.characterFrame {
    display: flex;
    flex-direction: column;
    border: 5px solid #38362f;
    /* background: #f5eac9; */
    background: #cebd90;
    width: 450px;
    height: 98%;
    /* min-height: 90%; */
    border-radius: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 10px 25px 15px rgb(66, 66, 66);
    position: relative;
    overflow-y: hidden;
    min-width: 430px;
}

.characterContent {
    padding: 10px;
    padding-top: 15px;
    padding-right: 0px;
    overflow-x: hidden;
    overflow-wrap: anywhere;
    overflow-y: auto;
    flex-grow: 1;
    flex-basis: 0;
}

.characterContent h1 {
    font-size: xx-large;
    padding: 0px;
    margin: 0px;
}

.characterContent h2 {
    font-size: large;
    margin-bottom: 5px;
}

.attributeContainer {
    display: block;
    overflow-y: auto;
}

.attributeFrame {
    display: inline;
    margin-left: 0px;
    padding: 2px;
}

.attributeFrameEdit {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.editText {
    width: 100px;
}

.editTextShort {
    width: 50px;
}

.editNumber {
    width: 30px;
    text-align: right;
}

.rollResult {
    display: inline;
    margin: 5px;
    width: 30px;
    text-align: center;
    justify-content: center;
    background: #fffbed;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 3px solid white;
}

.rollResultInternal {
    display: flex;
    flex-direction: column;
    line-height: 15px;
}

.rollResult:hover {
    border: 3px solid rgb(150, 150, 150);
    background: #d1cec2;
}

.rollResultSelect:hover {
    border: 3px solid rgb(150, 150, 150);
}

.rollResultCrit {
    background: rgb(44, 180, 44);
    border: 3px solid rgb(44, 180, 44);
}

.rollResultCrit:hover {
    background: rgb(61, 255, 61);
    border: 3px solid rgb(44, 180, 44);
}

.rollResultFumb {
    background: rgb(187, 99, 99);
    border: 3px solid rgb(187, 99, 99);
}

.rollResultFumb:hover {
    background: rgb(248, 147, 147);
    border: 3px solid rgb(187, 99, 99);
}

.rollResultSelect {
    border: 3px solid rgb(0, 0, 0);
}

.rollResultName {
    font-size: small;
    padding: 0px;
    margin: 0px;
}

.diceRollLog {
    line-height: 50px;
}

.diceRollLogPanel {
    width: 100%;
    /* height: 45px; */
    z-index: 1;
    background: #cebd90;
    text-align: left;
    justify-items: center;
    border-top: 1px solid black;
    border-radius: 5px 0px 0px 5px;
    word-wrap: normal;
    overflow-x:hidden;    
    overflow-wrap:break-word;
}

.diceRollLogPanel h2 {
    font-size: large;
    margin-left: 5px;
    margin-bottom: 5px;
}

.dieButton{
    display: inline;
    padding: px 25px 1px 25px;
    margin-left: 5px;
    /* margin-top: 3px; */
    border: none;
    background: none;
    /* width: 30px; */
    height: 30px;
    border: 1px solid #a89b76;
    border-radius: 5px;
}
.dieButton:hover {
    background: #ffeec1;
    border: none;
}
.panelCloseButton {
    display: inline;
    /* padding: 5px 10px 5px 10px; */
    padding: 1px 10px 1px 10px;
    /* margin-left: 5px; */
    margin-right: 5px;
    margin-top: 3px;
    margin-left: 5px;
    border: none;
    background: none;
    height: 40px;
}
.panelCloseButton:hover {
    background: #ff9e9e;
    border-radius: 5px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.field label {
    font-size: small;
}

.field input {
    font-size: medium;
}

.buttonPanel {
    width: 100%;
    height: 45px;
    z-index: 1;
    background: #a89b76;
    text-align: left;
    justify-items: center;
}

.buttonPanel button {
    margin-left: 10px;
    border: none;
    background: #a89b76;
    padding: 8px;
}

.buttonPanel button:hover {
    border: none;
    background: #a89b76;
    color: white;
    border: 1px solid white;
    border-radius: 12px;
}

.commandPanel {
    background: #cebd90;
    width: 100%;
    height: 20%;
    border-top: 1px solid black;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
}

.commandControls {
    display: flex;
    flex-direction: column;

}

.commandControls button {
    margin-top: 10px;
}

.logPanel {
    border-left: 1px solid black;
    background: #6e664e;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.logEntryFrame {
    background: #b9aa84;
    margin-bottom: 3px;
    font-size: medium;
    min-height: 30px;
    vertical-align: middle;
    text-align: left;
    padding-left: 5px;
    padding: 5px 5px 2px 5px;
    margin-left: 5px;

    /* 2024-09-22: copied from https://stackoverflow.com/a/22218694/2336212 */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.abilityFrameEdit {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border: 1px solid #ffecb7;
    padding: 5px;
    overflow-x: hidden;
}

.abilityFrameLine {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.abilityContainer {
    overflow-y: auto;
}

.abilityDisplay {
    font-size: medium;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 5px;
    width: 95%;
}

.abilityDisplayInline {
    display: inline;
    /* width:auto; */
}

.abilityDisplay:hover {
    background: #ffeec1;
    border-radius: 7px;
}

.abilityDisplayDisabled {
    color: rgb(105, 105, 105);
    background: #b9aa84;
    border-radius: 7px;
}

.abilityDisplayDisabled:hover {
    color: rgb(105, 105, 105);
    background: #b9aa84;
}

.abilityDisplayActive {
    background: #ffffff;
    border-radius: 7px;
    border: 1px solid #ffffff;
}

.abilityDisplayActive:hover {
    background: #ffffff;
    border-radius: 7px;
    border: 1px solid black;
}

.abilityName {
    font-weight: bold;
    margin-right: 10px;
}

.abilityDescription {
    font-size: medium;
}

.listordereditem {
    display: flex;
    flex-direction: row;
}

.listordereddraghandle {
    display: inline;
    cursor: move;
    /* padding: 5px 10px 5px 10px; */
    padding: 1px 5px 1px 5px;
    margin-right: 5px;
    height: 40px;
}

.listordereddraghandle:hover {
    background: #ffeec1;
    border-radius: 5px;
}

.listorderedbutton {
    display: inline;
    /* padding: 5px 10px 5px 10px; */
    /* margin-left: 5px;
    margin-right: 5px; */
    margin-top: 3px;
    border: none;
    background: none;
    height: 40px;
}

.listorderedbutton:hover {
    background: #ffeec1;
    border-radius: 5px;
}

.listorderedbuttonX {
    display: inline;
    /* padding: 5px 10px 5px 10px; */
    padding: 1px 5px 1px 5px;
    /* margin-left: 5px; */
    margin-right: 5px;
    margin-top: 3px;
    border: none;
    background: none;
    height: 40px;
}

.listorderedbuttonX:hover {
    background: #ff9e9e;
    border-radius: 5px;
}

.addButton {
    display: inline;
    padding: px 25px 1px 25px;
    margin-left: 5px;
    /* margin-top: 3px; */
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    border: 1px solid #a89b76;
    border-radius: 5px;
}

.addButton:hover {
    background: #ffeec1;
    border: none;
}

.searchSelect {
    height: 30px;
    border: none;
    background: #ffeec1;
    border-radius: 5px;
}

.searchSelect option {
    height: 30px;
    border: 1px solid black;
    background: #ffeec1;
}

.spacer{
    border-top: 3px solid black;
    width: 78%;
    height: 1px;
    margin-top: 18px;
}

.logReport{
    margin-top: 20px;
    font-size: medium;
    padding: 10px;
}
.logReportInfo{
    width: 100%;
    text-align: right;
}